<article>
	<h2>Nos colaborateurs</h2>

	<% users.forEach(ele => { %>
		<p>
			<%= ele.last_name %> <%= ele.first_name %> : <%= ele.kind %>
			<!-- <img src="<%= 'machin' %>"> -->
		</p>
	<% }) %>

	<p> ... </p>
</article>

<article>
	<h2>Nos services</h2>

	<p> ... </p>
	<p> ... </p>
	<p> ... </p>
</article>